/* CSS Variables - The var() function. (n.d.). W3Schools. Retrieved March 13, 2023, from https://www.w3schools.com/css/css3_variables.asp */
/* HTML Global class Attribute. (n.d.). W3Schools. Retrieved March 14, 2023, from https://www.w3schools.com/tags/att_global_class.asp */
/* Coyier, C. (2013, April 8). A Complete Guide to Flexbox | CSS-Tricks. CSS-Tricks. Retrieved March 14, 2023, from https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* How to align a button in the center of the div. (n.d.). Educative.io. Retrieved March 14, 2023, from https://www.educative.io/answers/how-to-align-a-button-in-the-center-of-the-div */

:root {
    --header-color: #16357D;
    --flat-color: #1E46A6;
    --accent-color: #DE28B8;
    --details-accent-color: #C223A1;
    --fill-in-color: #285DDE;
    /* --flat-color: #126A6E;
    --accent-color: #16848A;
    --details-accent-color: #1A9EA6;
    --fill-in-color: #1FB9C1; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    color: #ECEFF4;
}

body {
    background-color: var(--flat-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

section {
    display: flex;
}

header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: var(--header-color);
}

/* index.html */
.button-div {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    border: var(--accent-color) solid 5px;
    margin: auto;
    padding: 30px 40px;
    background-color: var(--fill-in-color);
    border-radius: 20px;
}

.hide-me {
    display: none !important;
}

/* quiz.html */
.question-choice-answer-container, 
    .score-page-container {
    width: 50%;
    height:fit-content;
    max-width: 500px;
    background-color: var(--fill-in-color);
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: var(--accent-color) solid 5px;
}

.final-score-output {
    padding: 20px;
    font-weight: bold;
    font-size: large;
}

.question-div {
    margin: 10px;
    margin-bottom: 30px;
    font-size:x-large;
    font-weight: bolder;
}

h3 {
    padding: 15px 10px 10px 0px;
    text-align: center;
}

.mxChoice-div {
    text-align: center;
}

.choices-class {
    display: flex;
    justify-content: center;
    width: fit-content;
    flex-direction: column;
    margin: auto;
    padding: 30px 40px;
    background-color: var(--fill-in-color);
    border-radius: 20px;
}

.btn {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-weight: bold;
    border: var(--details-accent-color) outset 8px;
    margin: 10px auto;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: medium;
}

.btn:hover, .mx-button-default:hover {
    background-color: var(--details-accent-color);
    border: var(--accent-color) inset 8px;;
}

.mx-button-default {
    text-decoration: none;
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-weight: bold;
    border: var(--details-accent-color) outset 8px;
    margin: 5px auto;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-size: large;
    display: block;
}

.show-answer-response {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    border: var(--accent-color) solid 5px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: var(--fill-in-color);
    border-radius: 20px;
    width: 50%;
    max-width: 500px;
}

label {
    font-weight: bold;
}

.initials-div{
    padding: 20px;
    margin: auto;
    text-align: center;
}

#initials {
    padding: 3px;
    color: black;
}

#high-scores-btn {
    margin: auto;
    /* margin-top: 30px; */
    text-align: center;
}

.score {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    /* border: var(--accent-color) solid 1px; */
    border-radius: 10px;
    margin: 10px;
    background-color: var(--flat-color)
}

h3 {
    margin-bottom: 30px;
}

.score-page-container {
    width: fit-content
}